@import '../../../assets/styles/variables.scss';


.filter {
    width : 100%;
    //border: 1px solid red;
    height: max-content;
    padding-right: 20px;
    box-sizing: border-box;

    .filter_bar {
        //border         : 1px solid green;
        display        : flex;
        justify-content: space-between;
        align-items: center;
        padding:30px 0;

        span {
            &:first-child {
                font-weight: bold;
                font-size  : 18px;
                color      : $grey;
                font-weight: bold;
            }

            &:last-child {
                font-weight: bold;
                font-size  : 14px;
                color      : $grey_light;
                font-weight: bold;
            }
        }

    }

}