@import '../../assets/styles/variables.scss';

.cta {
    min-height  : 360px;
    position: relative;
    display: flex;

    .img_bg {
        position  : absolute;
        z-index   : -1;
        width     : 100%;
        height    : 100%;
        object-fit: cover;
    }

    .wrap {
       // border:1px solid white;
        height: 100%;

        .title {
            font-weight: 500;
            font-size  : 36px;
            color      : $white;
            margin: 0 0 15px 0;
        }

        .under_the_title {
            font-weight: normal;
            font-size  : 18px;
            color      : $white;
            margin: 0 0 30px 0;
        }
    }
}

@media (max-width: 992px){
    .cta{
        min-height: 280px;
       .wrap{
        padding: 30px 0;
       }
    }
}

@media (max-width: 576px){
    
    .wrap {
 
         .title {
             font-size  : 32px;
         }
 
         .under_the_title {
            
         }
     }
}