@import '../../../assets/styles/variables.scss';

.SimilarObjects {
    padding:20px 0 60px 0;
    background: #F3F3F3;

    .wrap {
           // border:1px solid red;
        .tytle {
            color      : $grey;
            font-weight: bold;
            font-size  : 30px;
            margin-top: 30px;
            line-height: 1;
        }

        .block_card{
           // border:1px solid green;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 20px;
        }
    }

}


@media (max-width: 768px){
    .SimilarObjects {
     
    
        .wrap {
              
            .tytle {
               
            }
    
            .block_card{
                grid-template-columns: 1fr 1fr;
                column-gap: 15px;
                row-gap: 15px;
            }
        }
    
    }
    
}

@media (max-width: 576px){
    .SimilarObjects {
       
        .wrap {
              
            .tytle {
               
            }
    
            .block_card{
                grid-template-columns: 1fr 1fr;
                column-gap: 5px;
                row-gap: 5px;
            }
        }
    
    }
    
}