@import '../../../assets/styles/variables.scss';
.tytle{
    font-size: 16px;
    font-weight: 500;
    color: $grey;
    margin: 0 0 5px 0;
}
.wrap {
    margin-bottom  : 30px;
    display        : flex;
    justify-content: space-between;

    input {
        width       : calc(50% - 10px);
        height      : 40px;
        outline     : none;
        // border   :1px solid grey;
        border      : none;
        font-size   : 16px;
        font-weight : 400;
        color       : $grey_light;
        padding-left: 15px;
        box-sizing  : border-box;
    }
}

@media (max-width: 992px){
    .wrap{
        margin-bottom: 15px;
    }
 }