@font-face{
    font-family: 'ubunturegular';
    src: url('/fonts/ubuntu/Ubuntu-Regular.ttf');
}
@font-face{
    font-family: 'Rokkitt-Regular';
    src: url('/fonts/rokkitt/Rokkitt-Regular.ttf');
}
   